<div ng-app="comparcelTester.priceService" class="tester row">
  <h2>Regression test data across versions</h2>

    <form novalidate>

        <div class="row">

        <label for="username">Username</label>
        <input id="username" type="text" ng-model="config.username" />

        <label for="password">Password</label>
        <input id="password" type="text" ng-model="config.password" />

        </div>

        <div class="row">

        <label for="targetServer">Target server</label>
        <input id="targetServer" type="text" value="staging.comparcel.com" ng-model="config.target" />

        <label>Reference server</label>
        <input type="text" value="comparcel.com" ng-model="config.reference" />

        <button type="submit" class="btn" ng-click="runTests(config)">Submit</button>

        </div>
    </form>

    <div ng-grid="gridOptions">

    </div>

</div>